<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.animedetour.android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AnimeDetour"
        android:name=".framework.Application"
    >
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyBdBsLmgR18zQ1DxiGIBNEDvwU1jbzzuxY"/>
        <activity
            android:name=".main.MainActivity"
            android:label="@string/app_name"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.AnimeDetour.TransparentHeader"
            android:name=".schedule.EventActivity"
        />
        <activity
            android:theme="@style/Theme.AnimeDetour.TransparentHeader"
            android:name=".guest.GuestDetailActivity"
        />
        <receiver android:name=".schedule.notification.UpcomingEventReciever" />
        <receiver
            android:name=".schedule.notification.NotificationScheduler"
            android:enabled="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
